<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main page</title>
    <link rel="stylesheet" href="static/css/style_main.css">
</head>
<body>
    <div class="block">
        <p class="title_main">Главная страница</p>
    </div>
    <div class="blocks">
        <div class="mars">
            <a href="/marsphoto" title="Источник NASA. Фото получены по API">Свежие фото с марса</a>
        </div>
        <div class="cv">
            <a href="/cv">Моё резюме</a>
        </div>
    </div>
    <div class="blocks">
        <div class="passwgen">
            <a href="/passwgenerator">Генератор безопасных паролей</a>
        </div>
        <div class="plug">
            <a href="/"></a>
        </div>
    </div>
    <div class="bottom">      
    </div>
</body>
</html>